<!DOCTYPE html>
<html>

<head>
    <head>
        <!-- Title of the page.-->
        <title>{% block page_name %} Collectable Items {% endblock %}</title>
    </head>
</head>

<body>
    <!-- TODO(Project 1): Implement routes. -->
    <!-- href will have the web address of the cheapest item -->
    <h2 class = "city" href = </h2> Rubber Weapon </h2>
         <a href="{{url_for('colletables')}}">colletables</a>

        
    </div>
    <div>       
        <!-- TODO(Checkpoint Requirement 3): Change the title and content of your wiki.-->
        {% block content %} Welcome To Team Kage's Amazing Project {% endblock %}
    </div>
</body>
</html>