<!DOCTYPE html>
<html>

<head>
    <head>
        <!-- TODO(Checkpoint Requirement 3): Change the title and content of your wiki.-->
        <title>{% block page_name %} Team Kage's Project {% endblock %}</title>
    </head>
</head>

<body>
    <!-- TODO(Project 1): Implement routes. -->
    <div class="navbar">
        <a href="https://8080-cs-1003273584237-default.cs-us-east1-pkhd.cloudshell.dev/">Home</a>
        <a href="https://8080-cs-1003273584237-default.cs-us-east1-pkhd.cloudshell.dev/pages">Pages</a>
        <a href="https://8080-cs-1003273584237-default.cs-us-east1-pkhd.cloudshell.dev/about">About</a>
        <a href="https://8080-cs-1003273584237-default.cs-us-east1-pkhd.cloudshell.dev/login">Login</a>
        <a href="https://8080-cs-1003273584237-default.cs-us-east1-pkhd.cloudshell.dev/signup">Sign Up</a>
        <a href="https://8080-cs-1003273584237-default.cs-us-east1-pkhd.cloudshell.dev/upload">Upload</a>

        
    </div>
    <div>       
        <!-- TODO(Checkpoint Requirement 3): Change the title and content of your wiki.-->
        {% block content %} Welcome To Team Kage's Amazing Project {% endblock %}
    </div>
</body>
</html>